*  {
    text-transform: capitalize;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(161, 220, 247);
}

img {
    max-width: 100%;
    height: auto;
}


.circal {
    width: 1200px;
    height: 1200px;
    position: absolute;
    background-color: rgb(123, 176, 192);
    border-radius: 50%;
    top: -700px;
    left: -150px;
    z-index: -2;
}

.tryingl {
    width: 400px;
    height: 100vh;
    position: absolute;
    background-color: rgb(90, 146, 172);
    border-radius: 20px;
    top: 98px;
    right: 300px;
    z-index: -1;
}

.container {
    width: 80%;
    margin: 50px auto;
    box-shadow: 30px 30px 120px;
    padding: 20px;
    background-image: 
        linear-gradient(to left, rgb(131, 226, 255), rgb(217, 243, 250))
    ;
    position: relative;
    overflow: hidden;
    z-index: -3;
    border-radius: 30px;
}

.container {
    display: grid;
    grid-template-columns: repeat(10, auto);
    grid-template-rows: 150px 400px 100px;
    grid-template-areas: "head head head head head head word word word side"
                         "disc disc disc cont cont cont cont cont cont side"
                         "foot foot foot foot foot foot foot foot foot side";
}

.header {
    display: flex;
    gap: 70px;
    align-items: flex-start;
    padding: 20px;
    margin-bottom: 50px;
}

.container .logo {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    font-weight: bold;
    font-style: italic;
    margin-left: 30px;
}

.container .navigation a {
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.container .navigation {
    display: flex;
    gap: 20px;
    align-items: center;
    margin: 20px;
}

.sidebar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100px;
    gap: 20px;
    margin-right: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.sidebar .no {
    width: 60px;
    height: 60px;
    text-decoration: none;
    color: black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
}

.no.one {
    border: 1px solid black;
}

.next {
    text-decoration: none;
    color: black;
    position: absolute;
    right: 15px;
    top: 48%;
}

.plus-logo {
    width: 60px;
    height: 60px;
    background-color: black;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
}

.parent {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    color: rgb(59, 59, 59); 
    transform: rotate(-90deg);
    position: absolute;
    bottom: 150px;
}

.discover {
    font-size: 30px;
    color: black;
    font-weight: bold;
}

.line {
    width: 100px;
    height: 2px;
    background-color: black;
    transform: rotate(-90deg);
    position: absolute;
    bottom: 320px;
}

.grid {
    max-width: 90px;
    max-height: 90px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 7px;
    margin-left: 20px;
}

.section-discover .grid .item {
    width: 15px;
    height: 15px;
    background-color: white;
}

.title {
    position: absolute;
    top: 40px;
    right: 150px;
}

.big-nike {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 150px;
    font-weight: bold;
    color: white;
    position: absolute;
    left: 220px;
    bottom: 300px;
    z-index: 999;
}

.background {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    font-weight: bold;
    color: white;
    position: absolute;
    right: 600px;
    top: 130px;
}

img {
    margin-left: 400px;
    margin-top: 100px;
    transform: rotate(30deg);
}

.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

.footer .color {
    width: 10px;
    height: 10px;
    padding: 5px;
    border-radius: 50%;
    border-width: 5px;
    border-style: solid;
}

.black {
    border-color: black;
}

.purple {
    border-color: purple;
}

.aqua {
    border-color: aqua;
}   

.left {
    display: flex;
    gap: 20px;
}

.point {
    color: white;
    font-size: 30px;
}

.right {
    display: flex;
    gap: 10px;
}

@media (max-width: 767px) {

    .container {
        width: 95%;
        margin: 20px auto;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            "head"
            "cont"
            "disc"
            "foot";
    }

    .sidebar {
        display: none;
    }

    .header {
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }

    .logo {
        font-size: 40px;
    }

    .big-nike {
        font-size: 80px;
        position: static;
        text-align: center;
    }

    .background {
        display: none;
    }

    img {
        margin: 40px auto;
        display: block;
        transform: rotate(0);
    }

    .parent,
    .line {
        display: none;
    }

    .tryingl,
    .circal {
        display: none;
    }

}

@media (max-width: 1024px) {

    .container {
        width: 90%;
        grid-template-columns: repeat(6, 1fr);
        grid-template-areas:
            "head head head head side side"
            "cont cont cont cont side side"
            "disc disc disc disc side side"
            "foot foot foot foot foot foot";
    }

    .sidebar {
        width: 80px;
        gap: 15px;
    }

    .big-nike {
        font-size: 110px;
        left: 120px;
        bottom: 250px;
    }

    img {
        margin-left: 200px;
        margin-top: 80px;
        transform: rotate(15deg);
    }

    .tryingl {
        right: 150px;
    }

}

